# Ce fichier doit être créé automatiquement par Flutter
# Si vous avez des erreurs, créez-le manuellement avec :
# flutter.sdk=CHEMIN_VERS_FLUTTER_SDK
# Exemple Windows : flutter.sdk=C:\\Users\\YourName\\flutter
